div{
    background-color: pink ;
   
    
}
#div4 {
   
    top: 100px;
        position:absolute;
        width:25px;
        height:25px;
        border-radius: 100%;
        background-color: hotpink;

        
    }
    #div5{
        top: 100px;
        position:absolute;
        width:25px;
        height:25px;
        border-radius: 100%;
        background-color: greenyellow;
   
    }